include honeybee_energy/config.json
include honeybee_energy/lib/data/constructions/*.idf
include honeybee_energy/lib/data/constructions/*.json
include honeybee_energy/lib/data/schedules/*.idf
include honeybee_energy/lib/data/schedules/*.json
include honeybee_energy/lib/data/constructionsets/*.json
include honeybee_energy/lib/data/programtypes/*.json
include honeybee_energy/baseline/data/*.csv
recursive-exclude tests *
recursive-exclude docs *
recursive-exclude .github *
exclude .gitignore
exclude .dockerignore
exclude .releaserc.json
exclude deploy.sh
exclude Dockerfile
exclude build_image.sh
